@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:700|Yeon+Sung&display=swap');
@import 'base/variables';
@import 'base/mixins';

//desktop view
@import 'layout/form-container';
@import 'layout/bottom';
@import 'layout/ramenList';
@import 'layout/favoriteList';

//mobile queries
@import 'layout/media-queries/formContainerMobile';
@import 'layout/media-queries/bottomMobile';
@import 'layout/media-queries/ramenListMobile';

@import 'reusable/loader';
@import 'reusable/active';
@import 'reusable/iconButtons';
@import 'reusable/animations';

* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Noto Sans TC';
	overflow: hidden;
	color: #999;
}
h1 {
	font-family: 'Yeon Sung';
}
.main--container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.middle__container {
	display: flex;
	flex-direction: row;
	height: 35vh;
	width: 100%;
}
.bottom__container {
	display: flex;
	flex-direction: row;
	height: 70vh;
	width: 100%;
}

input {
	font-size: 16px;
}
