.side-bar-left {
	background: $color-white;
	height: 50vh;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-y: auto;
	position: relative;
}

.results__nav {
	width: 100vw;
	background: #fff;
	box-shadow: 0 2px 2px #eee;
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	z-index: 99999;
	padding: 1rem 0;

	&--left {
		order: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		position: relative;
		padding: 0.5rem 0;

		& i {
			color: $color-orange;
			font-size: 1.5rem;
			margin: 0 0.5rem;
		}
	}
	&--middle {
		order: 1;
	}
	&--right {
		order: 2;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		& form {
			& select {
				padding: 0.3rem;
				border: 3px solid $color-orange;
			}
		}
		& button {
			padding: 0.5rem;
			background: $color-orange;
			border: 1px solid $color-orange;
			transition: all 0.3s ease;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			color: #fff;

			&:hover {
				cursor: pointer;
				background: darken($color-orange, 20%);
				border: 1px solid darken($color-orange, 20%);
			}
		}
		& h2 {
			margin-right: 0.3rem;
		}
	}
}

//marker popup style
.ramen-popup {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 3px 3px darken(#eee, 30%);
	display: flex;
	min-width: 8rem;
	flex-direction: column;
	justify-content: space-around;
	color: rgb(139, 134, 134);
	top: -450%;
	z-index: 999999;
	position: absolute;
	& p {
		font-size: 1rem;
		color: $color-orange;
		margin: 0.5rem;
		border-bottom: 0.5px solid #eee;
		padding: 0.3rem;
	}
	& a {
		color: dodgerblue;
		text-decoration: none;
		font-size: 1rem;
		margin: 0.3rem;
		padding: 0.3rem;
	}
}

select {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 0.52rem;
	border: 1px solid $color-orange;
	margin: 0 0 0 0.5rem;
}
