.hidden {
	max-height: 0px;
	opacity: 0;
	visibility: hidden;
}

.animate-box-shadow {
	animation-name: boxShadowFlash;
	animation-duration: 0.7s;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-fill-mode: forwards;
	&:hover {
		transform: translateY(0.3vh);
	}
}
.dark {
	background-color: #333333;
	background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23444444' fill-opacity='0.14'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	color: $color-white;
	box-shadow: 0 4px 4px darken($dark-mode, 10%);

}
.dark-favorite {
	background: $dark-mode;
	color: $color-orange;
	box-shadow: 0 2px 2px darken($dark-mode, 5%);
}
.dark-favorite-item {
	border-bottom: 1px solid lighten($dark-mode, 5%);
	background: $dark-mode;
}
.dark-accent {
	background: darken($dark-mode, 1%);
	color: darken(#f3f3f3, 5%);
	box-shadow: 0 4px 4px darken($dark-mode, 5%);
	&:hover {
		box-shadow: 0 6px 6px darken($dark-mode, 7%);
	}
}
.dark-borders {
	border: 0;
	border-top: 1px solid lighten($dark-mode, 10%);
	border-bottom: 1px solid lighten($dark-mode, 10%);
}

.favorited {
	background: $color-orange;
	border-radius: 50%;
	color: $color-white;
	padding: 0.5rem;
}
