.loader-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.loader {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 5rem;
	height: 5rem;
	border-top: 7px solid $color-orange;
	border-left: 7px solid transparent;
	border-bottom: 7px solid $color-orange;
	border-right: 7px solid transparent;
	border-radius: 50%;
	animation: 1s spin linear infinite;
}
