@media screen and (max-width: 700px) {
	.form__container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;
		& .logo__container {
			order: 0;
			flex: 1;
			& .logo {
				width: 10rem;
			}
			& .icon {
				width: 2rem;
			}
		}
		&--search {
			order: 2;
		}
	}
}
