@media screen and (max-width: 850px) {
	.form__container {
		& .logo__container {
			& h1 {
				font-size: 2rem;
			}
			& img {
				width: 1.8rem;
			}
		}
	}
}
@media screen and (max-width: 700px) {
	.form__container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;
		& .logo__container {
			order: 0;
			flex: 1;
			& h1 {
				font-size: 2rem;
			}
			& img {
				width: 1.7rem;
			}
		}
		&--search {
			order: 2;
		}
	}
}
