@media screen and (max-width: 850px) {
	.ramen__list--container {
		height: 100%;
		width: 100%;
		padding: 7rem 0rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex-direction: column;
	}
	.ramen--list {
		display: flex;
		flex-direction: column;
	}

	.list--item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		border-radius: 5px;
		box-shadow: 0 10px 10px #eeeeee;
		background: #fff;
		width: 100%;
		transition: all 0.2s ease-in-out;
		color: #ff4500;
		padding: 0;
		margin: 1rem 0;
		p:last-child {
			color: #666;
			margin: 0.5rem 0;
		}
		&:hover {
			box-shadow: 0 20px 20px #eeee;
		}
		&--top {
			visibility: visible;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			width: 100%;
			max-height: 200rem;
		}
		&--middle {
			visibility: visible;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			opacity: 1;
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			transition: max-height 0.3s 0s ease-in-out, opacity 0.2s 0s ease-in-out;
			max-height: 200rem;
		}
		&--bottom {
			visibility: visible;
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 100%;
			justify-content: space-around;
			opacity: 1;
			transition: max-height 0.3s 0s ease-in-out, opacity 0.2s 0s ease-in-out;
			max-height: 200rem;
		}

		& span {
			color: goldenrod;
		}
	}
	.rating__container {
		margin: 0.5rem 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;

		&--stars {
			color: goldenrod;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
		&--total {
			color: #666;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
	}
	.price__container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		border: 0;
		width: 50%;
	}
	.hours__container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.address__container {
		padding: 1rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.favorite {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		margin: 0.5rem;
		& p {
			margin: 0.5rem;
		}
	}

	.img-container {
		border-radius: 50%;
		max-height: 5rem;
		max-width: 5rem;
		display: flex;
		margin: 0.2rem;
		border: 4px solid darken(rgba(255, 69, 0, 0.6), 10%);
		& figure {
			max-height: 100%;
			& img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				border-radius: 50%;
			}
		}
	}
	.ramen__title {
		margin: 0.5rem 0;
		display: flex;
		flex-direction: column;
		font-weight: 700;
		&--toggle {
			display: flex;
			flex-direction: row;
			margin: 0 0.5rem;
			align-items: center;

			& p {
				font-size: 0.9rem;
			}
		}
	}
}
