@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:700|Yeon+Sung&display=swap");
.form__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  min-height: 5rem;
  box-shadow: 0 2px 2px #eee; }
  .form__container--search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem; }
  .form__container--dark-theme-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .form__container--dark-theme-toggle--dark {
      background: #cc3700;
      box-shadow: 0 2px 2px #b33000;
      border: 0;
      transition: all 0.3s ease-in-out;
      border-radius: 50%; }
      .form__container--dark-theme-toggle--dark:focus {
        border-radius: 50%;
        outline: 0px solid #b33000; }
      .form__container--dark-theme-toggle--dark:hover {
        background: #f2f2f2;
        box-shadow: 0 2px 2px #e6e6e6;
        cursor: pointer; }
      .form__container--dark-theme-toggle--dark:hover i {
        color: #b33000; }
      .form__container--dark-theme-toggle--dark i {
        color: #f3f3f3f3;
        font-size: 1.2rem;
        padding: 0.7rem; }
    .form__container--dark-theme-toggle--light {
      background: transparent;
      box-shadow: 0 2px 2px #d5d5d5;
      border: 0;
      transition: all 0.3s ease-in-out;
      border-radius: 50%; }
      .form__container--dark-theme-toggle--light:focus {
        border-radius: 50%;
        outline: 0px solid #b33000; }
      .form__container--dark-theme-toggle--light:hover {
        background: #b33000;
        box-shadow: 0 2px 2px #992900;
        cursor: pointer; }
      .form__container--dark-theme-toggle--light:hover i {
        color: #f3f3f3f3; }
      .form__container--dark-theme-toggle--light i {
        color: #cc3700;
        font-size: 1.2rem;
        padding: 0.7rem; }

.logo__container {
  display: flex;
  align-items: center;
  flex: 2; }
  .logo__container h1 {
    text-transform: uppercase;
    font-size: 3rem; }
  .logo__container img {
    width: 2.5rem; }

.input__row {
  display: flex;
  flex-direction: row;
  align-self: center;
  flex: 1;
  align-items: center; }
  .input__row:first-child {
    color: #f3f3f3f3; }
  .input__row--input {
    padding: 1.01rem;
    width: 15rem;
    border: 1px solid #eee;
    background-color: #eee; }
  .input__row--input:focus {
    outline: none; }

.search__btn {
  color: #fff;
  padding: 1.1rem;
  border: 1px solid #cc3700;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  background-color: #cc3700;
  transition: 0.2s linear; }
  .search__btn:hover, .search__btn:active {
    cursor: pointer;
    border: 1px solid #cc3700;
    color: #f3f3f3f3;
    background-color: #cc3700; }
  .search__btn:focus {
    outline: none; }

.clear__btn {
  color: #fff;
  padding: 1.1rem;
  border: 1px solid #cc3700;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  background-color: #cc3700;
  transition: 0.2s linear; }
  .clear__btn:hover, .clear__btn:active {
    cursor: pointer;
    border: 1px solid #cc3700;
    color: #fff;
    background-color: #cc3700; }
  .clear__btn:focus {
    outline: none; }

.side-bar-left {
  background: #f3f3f3f3;
  height: 50vh;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  position: relative; }

.results__nav {
  width: 100vw;
  background: #fff;
  box-shadow: 0 2px 2px #eee;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 99999;
  padding: 1rem 0; }
  .results__nav--left {
    order: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 0.5rem 0; }
    .results__nav--left i {
      color: #cc3700;
      font-size: 1.5rem;
      margin: 0 0.5rem; }
  .results__nav--middle {
    order: 1; }
  .results__nav--right {
    order: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .results__nav--right form select {
      padding: 0.3rem;
      border: 3px solid #cc3700; }
    .results__nav--right button {
      padding: 0.5rem;
      background: #cc3700;
      border: 1px solid #cc3700;
      transition: all 0.3s ease;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      color: #fff; }
      .results__nav--right button:hover {
        cursor: pointer;
        background: #661c00;
        border: 1px solid #661c00; }
    .results__nav--right h2 {
      margin-right: 0.3rem; }

.ramen-popup {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 3px #a2a2a2;
  display: flex;
  min-width: 8rem;
  flex-direction: column;
  justify-content: space-around;
  color: #8b8686;
  top: -450%;
  z-index: 999999;
  position: absolute; }
  .ramen-popup p {
    font-size: 1rem;
    color: #cc3700;
    margin: 0.5rem;
    border-bottom: 0.5px solid #eee;
    padding: 0.3rem; }
  .ramen-popup a {
    color: dodgerblue;
    text-decoration: none;
    font-size: 1rem;
    margin: 0.3rem;
    padding: 0.3rem; }

select {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0.52rem;
  border: 1px solid #cc3700;
  margin: 0 0 0 0.5rem; }

.ramen__list--container {
  min-height: 100vh;
  width: 100%;
  padding: 7rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff; }

.ramen--list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 1rem;
  color: #f3f3f3f3;
  list-style: none; }

.list--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 5px 5px #eeeeee;
  background: #fff;
  width: 15rem;
  transition: all 0.2s ease-in-out;
  padding: 0 1rem;
  color: #cc3700;
  color: #666; }
  .list--item p:last-child {
    margin: 0.5rem 0; }
  .list--item:hover {
    box-shadow: 0 20px 20px #eeee; }
  .list--item span {
    color: goldenrod; }

.rating__container {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  .rating__container--stars {
    color: goldenrod;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .rating__container--total {
    color: #666;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }

.price__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0;
  width: 100%; }

.hours__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.address__container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .address__container--favorite {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0.5rem; }
    .address__container--favorite p {
      margin: 0.5rem; }

.img-container {
  border-radius: 50%;
  max-height: 7rem;
  max-width: 7rem;
  display: flex;
  margin: 0.5rem;
  border: 5px solid rgba(204, 55, 0, 0.6); }
  .img-container figure {
    max-height: 100%; }
    .img-container figure img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%; }

.ramen__title {
  margin: 1.3rem 0;
  font-weight: 700;
  color: #e63e00; }

@media screen and (min-width: 1400px) {
  .ramen--list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 1rem;
    color: #f3f3f3f3;
    list-style: none; } }

@media screen and (min-width: 900px) and (max-width: 1150px) {
  .ramen--list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1rem;
    color: #f3f3f3f3;
    list-style: none; } }

.favorite__list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2rem;
  left: 0;
  background: #eee;
  box-shadow: 0 2px 2px #eee;
  max-height: 10rem;
  min-width: 10rem;
  overflow-y: scroll; }
  .favorite__list--item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
    min-width: 10rem;
    list-style: none;
    border-bottom: 1px solid #fff;
    padding: 0.5rem;
    transition: all 0.4s ease-in-out; }
    .favorite__list--item:hover {
      background: #cc3700;
      color: #fff;
      opacity: 0.9;
      cursor: pointer;
      border-bottom: 1px solid #eee; }
    .favorite__list--item:hover i {
      color: #fff; }
    .favorite__list--item i {
      color: #cc3700; }
      .favorite__list--item i:hover {
        cursor: pointer; }
    .favorite__list--item:hover p > a {
      color: #fff; }
    .favorite__list--item p {
      font-size: 0.8rem; }
      .favorite__list--item p a {
        text-decoration: none;
        color: #cc3700;
        font-weight: 500;
        font-size: 1rem; }

@media screen and (max-width: 850px) {
  .form__container .logo__container h1 {
    font-size: 2rem; }
  .form__container .logo__container img {
    width: 1.8rem; } }

@media screen and (max-width: 700px) {
  .form__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; }
    .form__container .logo__container {
      order: 0;
      flex: 1; }
      .form__container .logo__container h1 {
        font-size: 2rem; }
      .form__container .logo__container img {
        width: 1.7rem; }
    .form__container--search {
      order: 2; } }

@media screen and (max-width: 880px) {
  .results__nav {
    display: flex;
    flex-direction: row;
    font-size: 60%;
    padding: 1rem 0;
    position: fixed; }
  form {
    display: flex;
    flex-direction: row; } }

@media screen and (max-width: 850px) {
  .ramen__list--container {
    height: 100%;
    width: 100%;
    padding: 7rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column; }
  .ramen--list {
    display: flex;
    flex-direction: column; }
  .list--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    box-shadow: 0 10px 10px #eeeeee;
    background: #fff;
    width: 100%;
    transition: all 0.2s ease-in-out;
    color: #ff4500;
    padding: 0;
    margin: 1rem 0; }
    .list--item p:last-child {
      color: #666;
      margin: 0.5rem 0; }
    .list--item:hover {
      box-shadow: 0 20px 20px #eeee; }
    .list--item--top {
      visibility: visible;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      max-height: 200rem; }
    .list--item--middle {
      visibility: visible;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      opacity: 1;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      transition: max-height 0.3s 0s ease-in-out, opacity 0.2s 0s ease-in-out;
      max-height: 200rem; }
    .list--item--bottom {
      visibility: visible;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-around;
      opacity: 1;
      transition: max-height 0.3s 0s ease-in-out, opacity 0.2s 0s ease-in-out;
      max-height: 200rem; }
    .list--item span {
      color: goldenrod; }
  .rating__container {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .rating__container--stars {
      color: goldenrod;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
    .rating__container--total {
      color: #666;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
  .price__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0;
    width: 50%; }
  .hours__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .address__container {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .favorite {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0.5rem; }
    .favorite p {
      margin: 0.5rem; }
  .img-container {
    border-radius: 50%;
    max-height: 5rem;
    max-width: 5rem;
    display: flex;
    margin: 0.2rem;
    border: 4px solid rgba(204, 55, 0, 0.6); }
    .img-container figure {
      max-height: 100%; }
      .img-container figure img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%; }
  .ramen__title {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    font-weight: 700; }
    .ramen__title--toggle {
      display: flex;
      flex-direction: row;
      margin: 0 0.5rem;
      align-items: center; }
      .ramen__title--toggle p {
        font-size: 0.9rem; } }

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-top: 7px solid #cc3700;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #cc3700;
  border-right: 7px solid transparent;
  border-radius: 50%;
  animation: 1s spin linear infinite; }

.hidden {
  max-height: 0px;
  opacity: 0;
  visibility: hidden; }

.animate-box-shadow {
  animation-name: boxShadowFlash;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards; }
  .animate-box-shadow:hover {
    transform: translateY(0.3vh); }

.dark {
  background: #333;
  color: #f3f3f3f3;
  box-shadow: 0 4px 4px #1a1a1a;
  border: 1px solid #322; }

.dark-favorite {
  background: #333;
  color: #cc3700;
  box-shadow: 0 2px 2px #262626; }

.dark-favorite-item {
  border-bottom: 1px solid #404040;
  background: #333; }

.dark-accent {
  background: #3b3b3b;
  color: #e6e6e6;
  box-shadow: 0 4px 4px #262626; }
  .dark-accent:hover {
    box-shadow: 0 6px 6px #212121; }

.dark-borders {
  border: 0;
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #4d4d4d; }

.favorited {
  background: #cc3700;
  border-radius: 50%;
  color: #f3f3f3f3;
  padding: 0.5rem; }

.light-icon {
  color: #cc3700;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 5px 5px #eee;
  transition: all 0.4s ease-in-out;
  background: #fff; }
  .light-icon:hover {
    cursor: pointer;
    background: #cc3700;
    border-radius: 50%;
    box-shadow: 0 5px 5px #eee;
    color: #fff;
    padding: 0.5rem;
    transform: translateY(0.3vh); }

.dark-icon {
  color: #cc3700;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 5px 5px #262626;
  transition: all 0.4s ease-in-out;
  background: #404040; }
  .dark-icon:hover {
    cursor: pointer;
    background: #cc3700;
    border-radius: 50%;
    box-shadow: 0 5px 5px #b33000;
    color: #f3f3f3f3;
    padding: 0.5rem;
    transform: translateY(0.3vh); }

@keyframes spin {
  0% { }
  25% {
    border: 10px dashed #ff6a33; }
  50% {
    border: 10px dashed #992900; }
  75% {
    border: 10px dashed #ff4500; }
  100% {
    transform: rotate(360deg);
    border: 10px dashed #ffb599; } }

@-webkit-keyframes spin {
  0% { }
  25% {
    border: 10px dashed #ff6a33; }
  50% {
    border: 10px dashed #992900; }
  75% {
    border: 10px dashed #ff4500; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 10px dashed #ffb599; } }

@keyframes spin {
  0% {
    border-top: 7px solid #cc3700;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #cc3700;
    border-right: 7px solid transparent; }
  25% {
    border-top: 15px solid #ff581a;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #ff581a;
    border-right: 15px solid transparent; }
  50% {
    border-top: 7px solid #cc3700;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #cc3700;
    border-right: 7px solid transparent; }
  75% {
    border-top: 15px solid #ff581a;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #ff581a;
    border-right: 15px solid transparent; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-top: 7px solid #cc3700;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #cc3700;
    border-right: 7px solid transparent; } }

@keyframes borderRadius {
  0% {
    border-radius: 100%; }
  100% {
    border-radius: 50%; } }

@keyframes boxShadowFlash {
  0% {
    box-shadow: 0 10px 10px #d5d5d5;
    transform: translateY(0.6vh); }
  50% {
    box-shadow: 0 20px 10px #d5d5d5;
    transform: translateY(-0.5vh); }
  100% {
    box-shadow: 0 10px 10px #d5d5d5;
    transform: translateY(0vh); } }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Noto Sans TC';
  overflow: hidden;
  color: #999; }

h1 {
  font-family: 'Yeon Sung'; }

.main--container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.middle__container {
  display: flex;
  flex-direction: row;
  height: 35vh;
  width: 100%; }

.bottom__container {
  display: flex;
  flex-direction: row;
  height: 70vh;
  width: 100%; }

input {
  font-size: 16px; }
